<?xml version='1.0' encoding='utf-8'?>
<robot name="human_scaled">
  <material name="body_color">
    <color rgba="0.2 0.05 0.8 0.3" />
  </material>
  <material name="body_color_R">
    <color rgba="0.8 0.05 0.2 0.6" />
  </material>
  <material name="body_color_L">
    <color rgba="0.05 0.8 0.2 0.6" />
  </material>
  <material name="Black">
    <color rgba="0 0 0 1" />
  </material>
  <material name="marker_color">
    <color rgba="1 0 0 1" />
  </material>
  <link name="middle_pelvis">
    <inertial>
      <mass value="10.51" />
      <origin xyz="0.003000 -0.026000 -0.001000" rpy="0 0 0" />
      <inertia ixx="0.08957" ixy="-0.00549" ixz="-0.00126" iyy="0.09866" iyz="-0.00056" izz="0.07925" />
    </inertial>
    <visual>
      <origin xyz="0.000000 -0.050000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/pelvis_mesh.STL" scale="0.006400 0.005800 0.005800" />
      </geometry>
      <material name="body_color" />
    </visual>
  </link>
  <link name="left_upperleg_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="left_upperleg_virtual_2">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="left_upperleg">
    <inertial>
      <mass value="9.1" />
      <origin xyz="-0.018000 -0.190000 0.015000" rpy="0 0 0" />
      <inertia ixx="0.14939" ixy="0.0087" ixz="-0.00071" iyy="0.03997" iyz="-0.0087" izz="0.15987" />
    </inertial>
    <visual>
      <origin xyz="0.000000 -0.050000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/upperleg_mesh.STL" scale="0.006200 0.006400 0.007000" />
      </geometry>
      <material name="body_color_L" />
    </visual>
  </link>
  <link name="left_lowerleg">
    <inertial>
      <mass value="3.55" />
      <origin xyz="-0.021000 -0.182000 0.003000" rpy="0 0 0" />
      <inertia ixx="0.05455" ixy="0.00111" ixz="0.00028" iyy="0.00696" iyz="0.00174" izz="0.05455" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/lowerleg_mesh.STL" scale="0.006300 0.006600 0.007100" />
      </geometry>
      <material name="body_color_L" />
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/knee_mesh.STL" scale="0.005700 0.005700 0.005700" />
      </geometry>
      <material name="body_color_L" />
    </visual>
  </link>
  <link name="left_foot_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="left_foot">
    <inertial>
      <mass value="0.89" />
      <origin xyz="0.104000 -0.041000 0.007000" rpy="0 0 0" />
      <inertia ixx="0.00189" ixy="0.0011" ixz="-0.00042" iyy="0.00895" iyz="0" izz="0.00847" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/foot_mesh.STL" scale="0.006700 0.006700 0.006700" />
      </geometry>
      <material name="body_color_L" />
    </visual>
  </link>
  <link name="middle_abdomen_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="middle_abdomen">
    <inertial>
      <mass value="12.08" />
      <origin xyz="-0.008000 0.101000 -0.000000" rpy="0 0 0" />
      <inertia ixx="0.04415" ixy="0.01962" ixz="-0.00024" iyy="0.03785" iyz="-0.00097" izz="0.04748" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/abdomen_mesh.STL" scale="0.007500 0.007500 0.007500" />
      </geometry>
      <material name="body_color" />
    </visual>
  </link>
  <link name="middle_thorax_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="middle_thorax_virtual_2">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="middle_thorax">
    <inertial>
      <mass value="11.81" />
      <origin xyz="-0.009000 0.127000 -0.001000" rpy="0 0 0" />
      <inertia ixx="0.0545" ixy="0.02422" ixz="-0.0003" iyy="0.04672" iyz="-0.0012" izz="0.05861" />
    </inertial>
    <visual>
      <origin xyz="0.000000 -0.320000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/torso_mesh.STL" scale="0.007200 0.007200 0.007200" />
      </geometry>
      <material name="body_color" />
    </visual>
  </link>
  <link name="left_clavicle">
    <inertial>
      <mass value="0.156" />
      <origin xyz="-0.011096 0.006370 0.054170" rpy="0 0 0" />
      <inertia ixx="0.00024" ixy="-2e-05" ixz="-7e-05" iyy="0.00026" iyz="5e-05" izz="4e-05" />
    </inertial>
  </link>
  <link name="left_upperarm_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="left_upperarm_virtual_2">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="left_upperarm">
    <inertial>
      <mass value="1.78" />
      <origin xyz="0.005000 -0.125000 -0.007000" rpy="0 0 0" />
      <inertia ixx="0.01314" ixy="0.00049" ixz="0.00034" iyy="0.00268" iyz="5e-05" izz="0.014" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/shoulder_mesh.STL" scale="0.003900 0.003900 0.003900" />
      </geometry>
      <material name="body_color_L" />
    </visual>
    <visual>
      <origin xyz="0.000000 0.050000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/upperarm_mesh.STL" scale="0.006300 0.006000 0.007000" />
      </geometry>
      <material name="body_color_L" />
    </visual>
  </link>
  <link name="left_lowerarm_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="left_lowerarm">
    <inertial>
      <mass value="1.26" />
      <origin xyz="0.003000 -0.120000 0.004000" rpy="0 0 0" />
      <inertia ixx="0.00821" ixy="9e-05" ixz="4e-05" iyy="0.00127" iyz="-0.00067" izz="0.00764" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/lowerarm_mesh.STL" scale="0.006400 0.006400 0.006400" />
      </geometry>
      <material name="body_color_L" />
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/elbow_mesh.STL" scale="0.005500 0.005500 0.005500" />
      </geometry>
      <material name="body_color_L" />
    </visual>
  </link>
  <link name="left_hand_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="left_hand">
    <inertial>
      <mass value="0.44" />
      <origin xyz="0.015000 -0.154000 0.014000" rpy="0 0 0" />
      <inertia ixx="0.00551" ixy="0.00072" ixz="0.00033" iyy="0.00214" iyz="-0.00059" izz="0.00465" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/hand_mesh.STL" scale="0.006100 0.006100 0.006100" />
      </geometry>
      <material name="body_color_L" />
    </visual>
  </link>
  <link name="middle_head_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="middle_head_virtual_2">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="middle_head">
    <inertial>
      <mass value="4.96" />
      <origin xyz="-0.015000 0.132000 0.000000" rpy="0 0 0" />
      <inertia ixx="0.0268" ixy="-0.00226" ixz="-0.00011" iyy="0.01743" iyz="0.00025" izz="0.03037" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/head_mesh.STL" scale="0.005600 0.005600 0.005600" />
      </geometry>
      <material name="body_color" />
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/neck_mesh.STL" scale="0.005000 0.005000 0.005000" />
      </geometry>
      <material name="body_color" />
    </visual>
  </link>
  <link name="right_clavicle">
    <inertial>
      <mass value="0.156" />
      <origin xyz="-0.011096 0.006370 0.054170" rpy="0 0 0" />
      <inertia ixx="0.00024" ixy="-2e-05" ixz="-7e-05" iyy="0.00026" iyz="5e-05" izz="4e-05" />
    </inertial>
  </link>
  <link name="right_upperarm_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="right_upperarm_virtual_2">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="right_upperarm">
    <inertial>
      <mass value="1.78" />
      <origin xyz="0.005000 -0.125000 -0.007000" rpy="0 0 0" />
      <inertia ixx="0.01314" ixy="0.00049" ixz="0.00034" iyy="0.00268" iyz="5e-05" izz="0.014" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/shoulder_mesh.STL" scale="0.003900 0.003900 0.003900" />
      </geometry>
      <material name="body_color_R" />
    </visual>
    <visual>
      <origin xyz="0.000000 0.050000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/upperarm_mesh.STL" scale="0.006300 0.006000 0.007000" />
      </geometry>
      <material name="body_color_R" />
    </visual>
  </link>
  <link name="right_lowerarm_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="right_lowerarm">
    <inertial>
      <mass value="1.26" />
      <origin xyz="0.003000 -0.120000 0.004000" rpy="0 0 0" />
      <inertia ixx="0.00821" ixy="9e-05" ixz="4e-05" iyy="0.00127" iyz="-0.00067" izz="0.00764" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/lowerarm_mesh.STL" scale="0.006400 0.006400 0.006400" />
      </geometry>
      <material name="body_color_R" />
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/elbow_mesh.STL" scale="0.005500 0.005500 0.005500" />
      </geometry>
      <material name="body_color_R" />
    </visual>
  </link>
  <link name="right_hand_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="right_hand">
    <inertial>
      <mass value="0.44" />
      <origin xyz="0.015000 -0.154000 0.014000" rpy="0 0 0" />
      <inertia ixx="0.00551" ixy="0.00072" ixz="0.00033" iyy="0.00214" iyz="-0.00059" izz="0.00465" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/hand_mesh.STL" scale="0.006100 0.006100 0.006100" />
      </geometry>
      <material name="body_color_R" />
    </visual>
  </link>
  <link name="right_upperleg_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="right_upperleg_virtual_2">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="right_upperleg">
    <inertial>
      <mass value="9.1" />
      <origin xyz="-0.018000 -0.190000 0.015000" rpy="0 0 0" />
      <inertia ixx="0.14939" ixy="-0.0087" ixz="-0.00071" iyy="0.03997" iyz="-0.0087" izz="0.15987" />
    </inertial>
    <visual>
      <origin xyz="0.000000 -0.050000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/upperleg_mesh.STL" scale="0.006200 0.006400 0.007000" />
      </geometry>
      <material name="body_color_R" />
    </visual>
  </link>
  <link name="right_lowerleg">
    <inertial>
      <mass value="3.55" />
      <origin xyz="-0.021000 -0.182000 0.003000" rpy="0 0 0" />
      <inertia ixx="0.05455" ixy="0.00111" ixz="0.00028" iyy="0.00696" iyz="0.00174" izz="0.05455" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/lowerleg_mesh.STL" scale="0.006300 0.006600 0.007100" />
      </geometry>
      <material name="body_color_R" />
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/knee_mesh.STL" scale="0.005700 0.005700 0.005700" />
      </geometry>
      <material name="body_color_R" />
    </visual>
  </link>
  <link name="right_foot_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="right_foot">
    <inertial>
      <mass value="0.89" />
      <origin xyz="0.104000 -0.041000 0.007000" rpy="0 0 0" />
      <inertia ixx="0.00189" ixy="0.0011" ixz="-0.00042" iyy="0.00895" iyz="0" izz="0.00847" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/foot_mesh.STL" scale="0.006700 0.006700 0.006700" />
      </geometry>
      <material name="body_color_R" />
    </visual>
  </link>
  <joint name="left_hip_Z" type="revolute">
    <parent link="middle_pelvis" />
    <child link="left_upperleg_virtual" />
    <origin xyz="0.019358 -0.088232 -0.085621" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 1.000000" />
    <limit effort="185" velocity="12" lower="-1.04719667" upper="3.14159" />
  </joint>
  <joint name="left_hip_X" type="revolute">
    <parent link="left_upperleg_virtual" />
    <child link="left_upperleg_virtual_2" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="1.000000 0.000000 0.000000" />
    <limit effort="120" velocity="12" lower="-1.04719667" upper="1.570795" />
  </joint>
  <joint name="left_hip_Y" type="revolute">
    <parent link="left_upperleg_virtual_2" />
    <child link="left_upperleg" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 -1.000000 0.000000" />
    <limit effort="60" velocity="12" lower="-1.570795" upper="1.04719667" />
  </joint>
  <joint name="left_knee_Z" type="revolute">
    <parent link="left_upperleg" />
    <child link="left_lowerleg" />
    <origin xyz="0.000000 -0.398604 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 -1.000000" />
    <limit effort="130" velocity="18.6" lower="0" upper="3.14159" />
  </joint>
  <joint name="left_ankle_Z" type="revolute">
    <parent link="left_lowerleg" />
    <child link="left_foot_virtual" />
    <origin xyz="0.000000 -0.434835 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 1.000000" />
    <limit effort="126" velocity="12.7" lower="-1.570795" upper="0.7853975" />
  </joint>
  <joint name="left_ankle_X" type="revolute">
    <parent link="left_foot_virtual" />
    <child link="left_foot" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="-1.000000 0.000000 0.000000" />
    <limit effort="20" velocity="2" lower="-0.523598333" upper="0.785398" />
  </joint>
  <joint name="middle_lumbar_Z" type="revolute">
    <parent link="middle_pelvis" />
    <child link="middle_abdomen_virtual" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 -1.000000" />
    <limit effort="190" velocity="5.2" lower="-0.785398" upper="3.14159" />
  </joint>
  <joint name="middle_lumbar_X" type="revolute">
    <parent link="middle_abdomen_virtual" />
    <child link="middle_abdomen" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="1.000000 0.000000 0.000000" />
    <limit effort="160" velocity="5.2" lower="-0.785398" upper="0.785398" />
  </joint>
  <joint name="middle_thoracic_Z" type="revolute">
    <parent link="middle_abdomen" />
    <child link="middle_thorax_virtual" />
    <origin xyz="0.000000 0.150857 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 -1.000000" />
    <limit effort="190" velocity="5.2" lower="-0.392699" upper="1.0472" />
  </joint>
  <joint name="middle_thoracic_X" type="revolute">
    <parent link="middle_thorax_virtual" />
    <child link="middle_thorax_virtual_2" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="1.000000 0.000000 0.000000" />
    <limit effort="190" velocity="5.2" lower="-1.0472" upper="1.0472" />
  </joint>
  <joint name="middle_thoracic_Y" type="revolute">
    <parent link="middle_thorax_virtual_2" />
    <child link="middle_thorax" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 1.000000 0.000000" />
    <limit effort="185" velocity="2" lower="-1.0472" upper="1.0472" />
  </joint>
  <joint name="left_clavicle_joint_X" type="revolute">
    <parent link="middle_thorax" />
    <child link="left_clavicle" />
    <origin xyz="0.000000 0.304494 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="1.000000 0.000000 0.000000" />
    <limit effort="100" velocity="14" lower="-0.349066" upper="1.0472" />
  </joint>
  <joint name="left_shoulder_Z" type="revolute">
    <parent link="left_clavicle" />
    <child link="left_upperarm_virtual" />
    <origin xyz="-0.006173 -0.056313 -0.168885" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 1.000000" />
    <limit effort="92" velocity="17.6" lower="-3.14159" upper="3.14159" />
  </joint>
  <joint name="left_shoulder_X" type="revolute">
    <parent link="left_upperarm_virtual" />
    <child link="left_upperarm_virtual_2" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="1.000000 0.000000 0.000000" />
    <limit effort="71" velocity="6" lower="-1.0472" upper="3.14159" />
  </joint>
  <joint name="left_shoulder_Y" type="revolute">
    <parent link="left_upperarm_virtual_2" />
    <child link="left_upperarm" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 -1.000000 0.000000" />
    <limit effort="52" velocity="6" lower="-1.5708" upper="3.14159" />
  </joint>
  <joint name="left_elbow_Z" type="revolute">
    <parent link="left_upperarm" />
    <child link="left_lowerarm_virtual" />
    <origin xyz="0.000000 -0.286701 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 1.000000" />
    <limit effort="77" velocity="19.9" lower="0" upper="2.61799167" />
  </joint>
  <joint name="left_elbow_Y" type="revolute">
    <parent link="left_lowerarm_virtual" />
    <child link="left_lowerarm" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 -1.000000 0.000000" />
    <limit effort="15" velocity="6" lower="-0.349066" upper="3.14159" />
  </joint>
  <joint name="left_wrist_Z" type="revolute">
    <parent link="left_lowerarm" />
    <child link="left_hand_virtual" />
    <origin xyz="0.000000 -0.251410 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 1.000000" />
    <limit effort="185" velocity="25" lower="-1.5708" upper="1.5708" />
  </joint>
  <joint name="left_wrist_X" type="revolute">
    <parent link="left_hand_virtual" />
    <child link="left_hand" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="1.000000 0.000000 0.000000" />
    <limit effort="100" velocity="6" lower="-0.785398" upper="0.785398" />
  </joint>
  <joint name="middle_cervical_Z" type="revolute">
    <parent link="middle_thorax" />
    <child link="middle_head_virtual" />
    <origin xyz="0.000000 0.346796 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 -1.000000" />
    <limit effort="100" velocity="8.7" lower="-1.5708" upper="1.5708" />
  </joint>
  <joint name="middle_cervical_X" type="revolute">
    <parent link="middle_head_virtual" />
    <child link="middle_head_virtual_2" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="1.000000 0.000000 0.000000" />
    <limit effort="100" velocity="8.7" lower="-1.5708" upper="1.5708" />
  </joint>
  <joint name="middle_cervical_Y" type="revolute">
    <parent link="middle_head_virtual_2" />
    <child link="middle_head" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 1.000000 0.000000" />
    <limit effort="100" velocity="8.7" lower="-1.5708" upper="1.5708" />
  </joint>
  <joint name="right_clavicle_joint_X" type="revolute">
    <parent link="middle_thorax" />
    <child link="right_clavicle" />
    <origin xyz="0.000000 0.304494 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="-1.000000 0.000000 0.000000" />
    <limit effort="100" velocity="14" lower="-0.349066" upper="1.0472" />
  </joint>
  <joint name="right_shoulder_Z" type="revolute">
    <parent link="right_clavicle" />
    <child link="right_upperarm_virtual" />
    <origin xyz="0.006173 -0.058608 0.168885" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 1.000000" />
    <limit effort="92" velocity="17.6" lower="-3.14159" upper="3.14159" />
  </joint>
  <joint name="right_shoulder_X" type="revolute">
    <parent link="right_upperarm_virtual" />
    <child link="right_upperarm_virtual_2" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="-1.000000 0.000000 0.000000" />
    <limit effort="71" velocity="6" lower="-1.0472" upper="3.14159" />
  </joint>
  <joint name="right_shoulder_Y" type="revolute">
    <parent link="right_upperarm_virtual_2" />
    <child link="right_upperarm" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 1.000000 0.000000" />
    <limit effort="52" velocity="6" lower="-1.5708" upper="3.14159" />
  </joint>
  <joint name="right_elbow_Z" type="revolute">
    <parent link="right_upperarm" />
    <child link="right_lowerarm_virtual" />
    <origin xyz="0.000000 -0.277150 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 1.000000" />
    <limit effort="77" velocity="19.9" lower="0" upper="2.61799167" />
  </joint>
  <joint name="right_elbow_Y" type="revolute">
    <parent link="right_lowerarm_virtual" />
    <child link="right_lowerarm" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 1.000000 0.000000" />
    <limit effort="15" velocity="6" lower="-0.349066" upper="3.14159" />
  </joint>
  <joint name="right_wrist_Z" type="revolute">
    <parent link="right_lowerarm" />
    <child link="right_hand_virtual" />
    <origin xyz="0.000000 -0.262101 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 1.000000" />
    <limit effort="100" velocity="25" lower="-1.5708" upper="1.5708" />
  </joint>
  <joint name="right_wrist_X" type="revolute">
    <parent link="right_hand_virtual" />
    <child link="right_hand" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="-1.000000 0.000000 0.000000" />
    <limit effort="100" velocity="6" lower="-0.785398" upper="0.785398" />
  </joint>
  <joint name="right_hip_Z" type="revolute">
    <parent link="middle_pelvis" />
    <child link="right_upperleg_virtual" />
    <origin xyz="0.019358 -0.087768 0.086097" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 1.000000" />
    <limit effort="185" velocity="12" lower="-1.04719667" upper="3.14159" />
  </joint>
  <joint name="right_hip_X" type="revolute">
    <parent link="right_upperleg_virtual" />
    <child link="right_upperleg_virtual_2" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="-1.000000 0.000000 0.000000" />
    <limit effort="120" velocity="6" lower="-1.04719667" upper="1.570795" />
  </joint>
  <joint name="right_hip_Y" type="revolute">
    <parent link="right_upperleg_virtual_2" />
    <child link="right_upperleg" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 1.000000 0.000000" />
    <limit effort="60" velocity="6" lower="-1.570795" upper="1.04719667" />
  </joint>
  <joint name="right_knee_Z" type="revolute">
    <parent link="right_upperleg" />
    <child link="right_lowerleg" />
    <origin xyz="0.000000 -0.406429 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 -1.000000" />
    <limit effort="130" velocity="18.6" lower="0" upper="3.14159" />
  </joint>
  <joint name="right_ankle_Z" type="revolute">
    <parent link="right_lowerleg" />
    <child link="right_foot_virtual" />
    <origin xyz="0.000000 -0.440302 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 1.000000" />
    <limit effort="126" velocity="12.7" lower="-1.570795" upper="0.7853975" />
  </joint>
  <joint name="right_ankle_X" type="revolute">
    <parent link="right_foot_virtual" />
    <child link="right_foot" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="1.000000 0.000000 0.000000" />
    <limit effort="20" velocity="6" lower="-0.523598333" upper="0.785398" />
  </joint>
  <link name="Nose">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_Nose" type="fixed">
    <parent link="middle_head" />
    <child link="Nose" />
    <origin xyz="0.149182 0.129668 -0.022498" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="Head">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_Head" type="fixed">
    <parent link="middle_head" />
    <child link="Head" />
    <origin xyz="-0.037045 0.265947 -0.003309" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="REar">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_REar" type="fixed">
    <parent link="middle_head" />
    <child link="REar" />
    <origin xyz="-0.016668 0.144907 0.072865" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LEar">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LEar" type="fixed">
    <parent link="middle_head" />
    <child link="LEar" />
    <origin xyz="-0.019141 0.141001 -0.077093" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="REye">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_REye" type="fixed">
    <parent link="middle_head" />
    <child link="REye" />
    <origin xyz="0.098913 0.168377 0.015136" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LEye">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LEye" type="fixed">
    <parent link="middle_head" />
    <child link="LEye" />
    <origin xyz="0.100696 0.165863 -0.047471" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RPSI">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RPSI" type="fixed">
    <parent link="middle_pelvis" />
    <child link="RPSI" />
    <origin xyz="-0.090263 -0.004882 0.058440" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LPSI">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LPSI" type="fixed">
    <parent link="middle_pelvis" />
    <child link="LPSI" />
    <origin xyz="-0.085300 -0.004126 -0.056365" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RASI">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RASI" type="fixed">
    <parent link="middle_pelvis" />
    <child link="RASI" />
    <origin xyz="0.091055 0.001004 0.117854" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LASI">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LASI" type="fixed">
    <parent link="middle_pelvis" />
    <child link="LASI" />
    <origin xyz="0.096046 0.000442 -0.119931" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="T11">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_T11" type="fixed">
    <parent link="middle_abdomen" />
    <child link="T11" />
    <origin xyz="-0.130015 0.214272 0.000267" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RSHO">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RSHO" type="fixed">
    <parent link="right_clavicle" />
    <child link="RSHO" />
    <origin xyz="-0.019136 0.004174 0.174861" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LSHO">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LSHO" type="fixed">
    <parent link="left_clavicle" />
    <child link="LSHO" />
    <origin xyz="-0.038838 0.006150 -0.162456" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="C7">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_C7" type="fixed">
    <parent link="middle_thorax" />
    <child link="C7" />
    <origin xyz="-0.099200 0.343685 0.007565" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="T6">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_T6" type="fixed">
    <parent link="middle_thorax" />
    <child link="T6" />
    <origin xyz="-0.134384 0.198279 0.006296" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RMELB">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RMELB" type="fixed">
    <parent link="right_upperarm" />
    <child link="RMELB" />
    <origin xyz="-0.020245 -0.285325 -0.057262" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RELB">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RELB" type="fixed">
    <parent link="right_upperarm" />
    <child link="RELB" />
    <origin xyz="0.024132 -0.267544 0.021595" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RMWRI">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RMWRI" type="fixed">
    <parent link="right_lowerarm" />
    <child link="RMWRI" />
    <origin xyz="-0.009905 -0.263715 -0.017851" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RWRI">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RWRI" type="fixed">
    <parent link="right_lowerarm" />
    <child link="RWRI" />
    <origin xyz="-0.008906 -0.257846 0.020998" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RTHU">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RTHU" type="fixed">
    <parent link="right_hand" />
    <child link="RTHU" />
    <origin xyz="0.005240 -0.097608 0.043099" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RMID">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RMID" type="fixed">
    <parent link="right_hand" />
    <child link="RMID" />
    <origin xyz="0.000499 -0.133794 0.000161" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RPIN">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RPIN" type="fixed">
    <parent link="right_hand" />
    <child link="RPIN" />
    <origin xyz="0.001692 -0.152650 -0.049495" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LMELB">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LMELB" type="fixed">
    <parent link="left_upperarm" />
    <child link="LMELB" />
    <origin xyz="-0.017899 -0.293941 0.052578" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LELB">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LELB" type="fixed">
    <parent link="left_upperarm" />
    <child link="LELB" />
    <origin xyz="0.020817 -0.278353 -0.022552" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LMWRI">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LMWRI" type="fixed">
    <parent link="left_lowerarm" />
    <child link="LMWRI" />
    <origin xyz="-0.008673 -0.255701 0.020159" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LWRI">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LWRI" type="fixed">
    <parent link="left_lowerarm" />
    <child link="LWRI" />
    <origin xyz="-0.007653 -0.245097 -0.021676" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LTHU">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LTHU" type="fixed">
    <parent link="left_hand" />
    <child link="LTHU" />
    <origin xyz="0.004512 -0.091306 -0.055733" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LMID">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LMID" type="fixed">
    <parent link="left_hand" />
    <child link="LMID" />
    <origin xyz="0.000072 -0.121823 -0.000218" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LPIN">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LPIN" type="fixed">
    <parent link="left_hand" />
    <child link="LPIN" />
    <origin xyz="0.008471 -0.144385 0.052178" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RKNE">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RKNE" type="fixed">
    <parent link="right_upperleg" />
    <child link="RKNE" />
    <origin xyz="0.008091 -0.408566 0.059432" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RMKNE">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RMKNE" type="fixed">
    <parent link="right_upperleg" />
    <child link="RMKNE" />
    <origin xyz="-0.022023 -0.407247 -0.053934" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RMANK">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RMANK" type="fixed">
    <parent link="right_lowerleg" />
    <child link="RMANK" />
    <origin xyz="0.005676 -0.441949 -0.036535" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RANK">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RANK" type="fixed">
    <parent link="right_lowerleg" />
    <child link="RANK" />
    <origin xyz="-0.003248 -0.441391 0.031198" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RTOE">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RTOE" type="fixed">
    <parent link="right_foot" />
    <child link="RTOE" />
    <origin xyz="0.216042 -0.033219 -0.041380" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="R5MHD">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_R5MHD" type="fixed">
    <parent link="right_foot" />
    <child link="R5MHD" />
    <origin xyz="0.141127 -0.057036 0.040700" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RHEE">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RHEE" type="fixed">
    <parent link="right_foot" />
    <child link="RHEE" />
    <origin xyz="-0.057636 -0.045291 -0.011545" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LKNE">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LKNE" type="fixed">
    <parent link="left_upperleg" />
    <child link="LKNE" />
    <origin xyz="0.018240 -0.400951 -0.055369" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LMKNE">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LMKNE" type="fixed">
    <parent link="left_upperleg" />
    <child link="LMKNE" />
    <origin xyz="-0.018009 -0.399728 0.053041" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LMANK">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LMANK" type="fixed">
    <parent link="left_lowerleg" />
    <child link="LMANK" />
    <origin xyz="0.004044 -0.435735 0.035388" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LANK">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LANK" type="fixed">
    <parent link="left_lowerleg" />
    <child link="LANK" />
    <origin xyz="-0.004114 -0.437364 -0.030383" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LTOE">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LTOE" type="fixed">
    <parent link="left_foot" />
    <child link="LTOE" />
    <origin xyz="0.198641 -0.035147 0.023752" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="L5MHD">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_L5MHD" type="fixed">
    <parent link="left_foot" />
    <child link="L5MHD" />
    <origin xyz="0.152476 -0.044943 -0.041387" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LHEE">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LHEE" type="fixed">
    <parent link="left_foot" />
    <child link="LHEE" />
    <origin xyz="-0.064002 -0.041486 0.005135" rpy="0.000000 -0.000000 0.000000" />
  </joint>
</robot>