<?xml version='1.0' encoding='utf-8'?>
<robot name="human_scaled">
  <material name="body_color">
    <color rgba="0.2 0.05 0.8 0.3" />
  </material>
  <material name="body_color_R">
    <color rgba="0.8 0.05 0.2 0.6" />
  </material>
  <material name="body_color_L">
    <color rgba="0.05 0.8 0.2 0.6" />
  </material>
  <material name="Black">
    <color rgba="0 0 0 1" />
  </material>
  <material name="marker_color">
    <color rgba="1 0 0 1" />
  </material>
  <link name="middle_pelvis">
    <inertial>
      <mass value="10.51" />
      <origin xyz="0.003000 -0.026000 -0.001000" rpy="0 0 0" />
      <inertia ixx="0.08957" ixy="-0.00549" ixz="-0.00126" iyy="0.09866" iyz="-0.00056" izz="0.07925" />
    </inertial>
    <visual>
      <origin xyz="0.000000 -0.050000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/pelvis_mesh.STL" scale="0.006400 0.005800 0.005800" />
      </geometry>
      <material name="body_color" />
    </visual>
  </link>
  <link name="left_upperleg_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="left_upperleg_virtual_2">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="left_upperleg">
    <inertial>
      <mass value="9.1" />
      <origin xyz="-0.018000 -0.190000 0.015000" rpy="0 0 0" />
      <inertia ixx="0.14939" ixy="0.0087" ixz="-0.00071" iyy="0.03997" iyz="-0.0087" izz="0.15987" />
    </inertial>
    <visual>
      <origin xyz="0.000000 -0.050000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/upperleg_mesh.STL" scale="0.006200 0.006400 0.007000" />
      </geometry>
      <material name="body_color_L" />
    </visual>
  </link>
  <link name="left_lowerleg">
    <inertial>
      <mass value="3.55" />
      <origin xyz="-0.021000 -0.182000 0.003000" rpy="0 0 0" />
      <inertia ixx="0.05455" ixy="0.00111" ixz="0.00028" iyy="0.00696" iyz="0.00174" izz="0.05455" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/lowerleg_mesh.STL" scale="0.006300 0.006600 0.007100" />
      </geometry>
      <material name="body_color_L" />
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/knee_mesh.STL" scale="0.005700 0.005700 0.005700" />
      </geometry>
      <material name="body_color_L" />
    </visual>
  </link>
  <link name="left_foot_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="left_foot">
    <inertial>
      <mass value="0.89" />
      <origin xyz="0.104000 -0.041000 0.007000" rpy="0 0 0" />
      <inertia ixx="0.00189" ixy="0.0011" ixz="-0.00042" iyy="0.00895" iyz="0" izz="0.00847" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/foot_mesh.STL" scale="0.006700 0.006700 0.006700" />
      </geometry>
      <material name="body_color_L" />
    </visual>
  </link>
  <link name="middle_abdomen_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="middle_abdomen">
    <inertial>
      <mass value="12.08" />
      <origin xyz="-0.008000 0.101000 -0.000000" rpy="0 0 0" />
      <inertia ixx="0.04415" ixy="0.01962" ixz="-0.00024" iyy="0.03785" iyz="-0.00097" izz="0.04748" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/abdomen_mesh.STL" scale="0.007500 0.007500 0.007500" />
      </geometry>
      <material name="body_color" />
    </visual>
  </link>
  <link name="middle_thorax_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="middle_thorax_virtual_2">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="middle_thorax">
    <inertial>
      <mass value="11.81" />
      <origin xyz="-0.009000 0.127000 -0.001000" rpy="0 0 0" />
      <inertia ixx="0.0545" ixy="0.02422" ixz="-0.0003" iyy="0.04672" iyz="-0.0012" izz="0.05861" />
    </inertial>
    <visual>
      <origin xyz="0.000000 -0.320000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/torso_mesh.STL" scale="0.007200 0.007200 0.007200" />
      </geometry>
      <material name="body_color" />
    </visual>
  </link>
  <link name="left_clavicle">
    <inertial>
      <mass value="0.156" />
      <origin xyz="-0.011096 0.006370 0.054170" rpy="0 0 0" />
      <inertia ixx="0.00024" ixy="-2e-05" ixz="-7e-05" iyy="0.00026" iyz="5e-05" izz="4e-05" />
    </inertial>
  </link>
  <link name="left_upperarm_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="left_upperarm_virtual_2">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="left_upperarm">
    <inertial>
      <mass value="1.78" />
      <origin xyz="0.005000 -0.125000 -0.007000" rpy="0 0 0" />
      <inertia ixx="0.01314" ixy="0.00049" ixz="0.00034" iyy="0.00268" iyz="5e-05" izz="0.014" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/shoulder_mesh.STL" scale="0.003900 0.003900 0.003900" />
      </geometry>
      <material name="body_color_L" />
    </visual>
    <visual>
      <origin xyz="0.000000 0.050000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/upperarm_mesh.STL" scale="0.006300 0.006000 0.007000" />
      </geometry>
      <material name="body_color_L" />
    </visual>
  </link>
  <link name="left_lowerarm_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="left_lowerarm">
    <inertial>
      <mass value="1.26" />
      <origin xyz="0.003000 -0.120000 0.004000" rpy="0 0 0" />
      <inertia ixx="0.00821" ixy="9e-05" ixz="4e-05" iyy="0.00127" iyz="-0.00067" izz="0.00764" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/lowerarm_mesh.STL" scale="0.006400 0.006400 0.006400" />
      </geometry>
      <material name="body_color_L" />
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/elbow_mesh.STL" scale="0.005500 0.005500 0.005500" />
      </geometry>
      <material name="body_color_L" />
    </visual>
  </link>
  <link name="left_hand_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="left_hand">
    <inertial>
      <mass value="0.44" />
      <origin xyz="0.015000 -0.154000 0.014000" rpy="0 0 0" />
      <inertia ixx="0.00551" ixy="0.00072" ixz="0.00033" iyy="0.00214" iyz="-0.00059" izz="0.00465" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/hand_mesh.STL" scale="0.006100 0.006100 0.006100" />
      </geometry>
      <material name="body_color_L" />
    </visual>
  </link>
  <link name="middle_head_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="middle_head_virtual_2">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="middle_head">
    <inertial>
      <mass value="4.96" />
      <origin xyz="-0.015000 0.132000 0.000000" rpy="0 0 0" />
      <inertia ixx="0.0268" ixy="-0.00226" ixz="-0.00011" iyy="0.01743" iyz="0.00025" izz="0.03037" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/head_mesh.STL" scale="0.005600 0.005600 0.005600" />
      </geometry>
      <material name="body_color" />
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/neck_mesh.STL" scale="0.005000 0.005000 0.005000" />
      </geometry>
      <material name="body_color" />
    </visual>
  </link>
  <link name="right_clavicle">
    <inertial>
      <mass value="0.156" />
      <origin xyz="-0.011096 0.006370 0.054170" rpy="0 0 0" />
      <inertia ixx="0.00024" ixy="-2e-05" ixz="-7e-05" iyy="0.00026" iyz="5e-05" izz="4e-05" />
    </inertial>
  </link>
  <link name="right_upperarm_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="right_upperarm_virtual_2">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="right_upperarm">
    <inertial>
      <mass value="1.78" />
      <origin xyz="0.005000 -0.125000 -0.007000" rpy="0 0 0" />
      <inertia ixx="0.01314" ixy="0.00049" ixz="0.00034" iyy="0.00268" iyz="5e-05" izz="0.014" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/shoulder_mesh.STL" scale="0.003900 0.003900 0.003900" />
      </geometry>
      <material name="body_color_R" />
    </visual>
    <visual>
      <origin xyz="0.000000 0.050000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/upperarm_mesh.STL" scale="0.006300 0.006000 0.007000" />
      </geometry>
      <material name="body_color_R" />
    </visual>
  </link>
  <link name="right_lowerarm_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="right_lowerarm">
    <inertial>
      <mass value="1.26" />
      <origin xyz="0.003000 -0.120000 0.004000" rpy="0 0 0" />
      <inertia ixx="0.00821" ixy="9e-05" ixz="4e-05" iyy="0.00127" iyz="-0.00067" izz="0.00764" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/lowerarm_mesh.STL" scale="0.006400 0.006400 0.006400" />
      </geometry>
      <material name="body_color_R" />
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/elbow_mesh.STL" scale="0.005500 0.005500 0.005500" />
      </geometry>
      <material name="body_color_R" />
    </visual>
  </link>
  <link name="right_hand_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="right_hand">
    <inertial>
      <mass value="0.44" />
      <origin xyz="0.015000 -0.154000 0.014000" rpy="0 0 0" />
      <inertia ixx="0.00551" ixy="0.00072" ixz="0.00033" iyy="0.00214" iyz="-0.00059" izz="0.00465" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/hand_mesh.STL" scale="0.006100 0.006100 0.006100" />
      </geometry>
      <material name="body_color_R" />
    </visual>
  </link>
  <link name="right_upperleg_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="right_upperleg_virtual_2">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="right_upperleg">
    <inertial>
      <mass value="9.1" />
      <origin xyz="-0.018000 -0.190000 0.015000" rpy="0 0 0" />
      <inertia ixx="0.14939" ixy="-0.0087" ixz="-0.00071" iyy="0.03997" iyz="-0.0087" izz="0.15987" />
    </inertial>
    <visual>
      <origin xyz="0.000000 -0.050000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/upperleg_mesh.STL" scale="0.006200 0.006400 0.007000" />
      </geometry>
      <material name="body_color_R" />
    </visual>
  </link>
  <link name="right_lowerleg">
    <inertial>
      <mass value="3.55" />
      <origin xyz="-0.021000 -0.182000 0.003000" rpy="0 0 0" />
      <inertia ixx="0.05455" ixy="0.00111" ixz="0.00028" iyy="0.00696" iyz="0.00174" izz="0.05455" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/lowerleg_mesh.STL" scale="0.006300 0.006600 0.007100" />
      </geometry>
      <material name="body_color_R" />
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/knee_mesh.STL" scale="0.005700 0.005700 0.005700" />
      </geometry>
      <material name="body_color_R" />
    </visual>
  </link>
  <link name="right_foot_virtual">
    <inertial>
      <mass value="0" />
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <link name="right_foot">
    <inertial>
      <mass value="0.89" />
      <origin xyz="0.104000 -0.041000 0.007000" rpy="0 0 0" />
      <inertia ixx="0.00189" ixy="0.0011" ixz="-0.00042" iyy="0.00895" iyz="0" izz="0.00847" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
      <geometry>
        <mesh filename="package://rtcosmik_ros/meshes/foot_mesh.STL" scale="0.006700 0.006700 0.006700" />
      </geometry>
      <material name="body_color_R" />
    </visual>
  </link>
  <joint name="left_hip_Z" type="revolute">
    <parent link="middle_pelvis" />
    <child link="left_upperleg_virtual" />
    <origin xyz="0.025202 -0.090493 -0.088598" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 1.000000" />
    <limit effort="185" velocity="12" lower="-1.04719667" upper="3.14159" />
  </joint>
  <joint name="left_hip_X" type="revolute">
    <parent link="left_upperleg_virtual" />
    <child link="left_upperleg_virtual_2" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="1.000000 0.000000 0.000000" />
    <limit effort="120" velocity="12" lower="-1.04719667" upper="1.570795" />
  </joint>
  <joint name="left_hip_Y" type="revolute">
    <parent link="left_upperleg_virtual_2" />
    <child link="left_upperleg" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 -1.000000 0.000000" />
    <limit effort="60" velocity="12" lower="-1.570795" upper="1.04719667" />
  </joint>
  <joint name="left_knee_Z" type="revolute">
    <parent link="left_upperleg" />
    <child link="left_lowerleg" />
    <origin xyz="0.000000 -0.387698 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 -1.000000" />
    <limit effort="130" velocity="18.6" lower="0" upper="3.14159" />
  </joint>
  <joint name="left_ankle_Z" type="revolute">
    <parent link="left_lowerleg" />
    <child link="left_foot_virtual" />
    <origin xyz="0.000000 -0.417170 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 1.000000" />
    <limit effort="126" velocity="12.7" lower="-1.570795" upper="0.7853975" />
  </joint>
  <joint name="left_ankle_X" type="revolute">
    <parent link="left_foot_virtual" />
    <child link="left_foot" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="-1.000000 0.000000 0.000000" />
    <limit effort="20" velocity="2" lower="-0.523598333" upper="0.785398" />
  </joint>
  <joint name="middle_lumbar_Z" type="revolute">
    <parent link="middle_pelvis" />
    <child link="middle_abdomen_virtual" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 -1.000000" />
    <limit effort="190" velocity="5.2" lower="-0.785398" upper="3.14159" />
  </joint>
  <joint name="middle_lumbar_X" type="revolute">
    <parent link="middle_abdomen_virtual" />
    <child link="middle_abdomen" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="1.000000 0.000000 0.000000" />
    <limit effort="160" velocity="5.2" lower="-0.785398" upper="0.785398" />
  </joint>
  <joint name="middle_thoracic_Z" type="revolute">
    <parent link="middle_abdomen" />
    <child link="middle_thorax_virtual" />
    <origin xyz="0.000000 0.150702 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 -1.000000" />
    <limit effort="190" velocity="5.2" lower="-0.392699" upper="1.0472" />
  </joint>
  <joint name="middle_thoracic_X" type="revolute">
    <parent link="middle_thorax_virtual" />
    <child link="middle_thorax_virtual_2" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="1.000000 0.000000 0.000000" />
    <limit effort="190" velocity="5.2" lower="-1.0472" upper="1.0472" />
  </joint>
  <joint name="middle_thoracic_Y" type="revolute">
    <parent link="middle_thorax_virtual_2" />
    <child link="middle_thorax" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 1.000000 0.000000" />
    <limit effort="185" velocity="2" lower="-1.0472" upper="1.0472" />
  </joint>
  <joint name="left_clavicle_joint_X" type="revolute">
    <parent link="middle_thorax" />
    <child link="left_clavicle" />
    <origin xyz="0.000000 0.326014 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="1.000000 0.000000 0.000000" />
    <limit effort="100" velocity="14" lower="-0.349066" upper="1.0472" />
  </joint>
  <joint name="left_shoulder_Z" type="revolute">
    <parent link="left_clavicle" />
    <child link="left_upperarm_virtual" />
    <origin xyz="0.003712 -0.054580 -0.168501" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 1.000000" />
    <limit effort="92" velocity="17.6" lower="-3.14159" upper="3.14159" />
  </joint>
  <joint name="left_shoulder_X" type="revolute">
    <parent link="left_upperarm_virtual" />
    <child link="left_upperarm_virtual_2" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="1.000000 0.000000 0.000000" />
    <limit effort="71" velocity="6" lower="-1.0472" upper="3.14159" />
  </joint>
  <joint name="left_shoulder_Y" type="revolute">
    <parent link="left_upperarm_virtual_2" />
    <child link="left_upperarm" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 -1.000000 0.000000" />
    <limit effort="52" velocity="6" lower="-1.5708" upper="3.14159" />
  </joint>
  <joint name="left_elbow_Z" type="revolute">
    <parent link="left_upperarm" />
    <child link="left_lowerarm_virtual" />
    <origin xyz="0.000000 -0.285475 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 1.000000" />
    <limit effort="77" velocity="19.9" lower="0" upper="2.61799167" />
  </joint>
  <joint name="left_elbow_Y" type="revolute">
    <parent link="left_lowerarm_virtual" />
    <child link="left_lowerarm" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 -1.000000 0.000000" />
    <limit effort="15" velocity="6" lower="-0.349066" upper="3.14159" />
  </joint>
  <joint name="left_wrist_Z" type="revolute">
    <parent link="left_lowerarm" />
    <child link="left_hand_virtual" />
    <origin xyz="0.000000 -0.259369 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 1.000000" />
    <limit effort="185" velocity="25" lower="-1.5708" upper="1.5708" />
  </joint>
  <joint name="left_wrist_X" type="revolute">
    <parent link="left_hand_virtual" />
    <child link="left_hand" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="1.000000 0.000000 0.000000" />
    <limit effort="100" velocity="6" lower="-0.785398" upper="0.785398" />
  </joint>
  <joint name="middle_cervical_Z" type="revolute">
    <parent link="middle_thorax" />
    <child link="middle_head_virtual" />
    <origin xyz="0.000000 0.354247 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 -1.000000" />
    <limit effort="100" velocity="8.7" lower="-1.5708" upper="1.5708" />
  </joint>
  <joint name="middle_cervical_X" type="revolute">
    <parent link="middle_head_virtual" />
    <child link="middle_head_virtual_2" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="1.000000 0.000000 0.000000" />
    <limit effort="100" velocity="8.7" lower="-1.5708" upper="1.5708" />
  </joint>
  <joint name="middle_cervical_Y" type="revolute">
    <parent link="middle_head_virtual_2" />
    <child link="middle_head" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 1.000000 0.000000" />
    <limit effort="100" velocity="8.7" lower="-1.5708" upper="1.5708" />
  </joint>
  <joint name="right_clavicle_joint_X" type="revolute">
    <parent link="middle_thorax" />
    <child link="right_clavicle" />
    <origin xyz="0.000000 0.326014 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="-1.000000 0.000000 0.000000" />
    <limit effort="100" velocity="14" lower="-0.349066" upper="1.0472" />
  </joint>
  <joint name="right_shoulder_Z" type="revolute">
    <parent link="right_clavicle" />
    <child link="right_upperarm_virtual" />
    <origin xyz="-0.003712 -0.060044 0.168501" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 1.000000" />
    <limit effort="92" velocity="17.6" lower="-3.14159" upper="3.14159" />
  </joint>
  <joint name="right_shoulder_X" type="revolute">
    <parent link="right_upperarm_virtual" />
    <child link="right_upperarm_virtual_2" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="-1.000000 0.000000 0.000000" />
    <limit effort="71" velocity="6" lower="-1.0472" upper="3.14159" />
  </joint>
  <joint name="right_shoulder_Y" type="revolute">
    <parent link="right_upperarm_virtual_2" />
    <child link="right_upperarm" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 1.000000 0.000000" />
    <limit effort="52" velocity="6" lower="-1.5708" upper="3.14159" />
  </joint>
  <joint name="right_elbow_Z" type="revolute">
    <parent link="right_upperarm" />
    <child link="right_lowerarm_virtual" />
    <origin xyz="0.000000 -0.282755 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 1.000000" />
    <limit effort="77" velocity="19.9" lower="0" upper="2.61799167" />
  </joint>
  <joint name="right_elbow_Y" type="revolute">
    <parent link="right_lowerarm_virtual" />
    <child link="right_lowerarm" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 1.000000 0.000000" />
    <limit effort="15" velocity="6" lower="-0.349066" upper="3.14159" />
  </joint>
  <joint name="right_wrist_Z" type="revolute">
    <parent link="right_lowerarm" />
    <child link="right_hand_virtual" />
    <origin xyz="0.000000 -0.267516 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 1.000000" />
    <limit effort="100" velocity="25" lower="-1.5708" upper="1.5708" />
  </joint>
  <joint name="right_wrist_X" type="revolute">
    <parent link="right_hand_virtual" />
    <child link="right_hand" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="-1.000000 0.000000 0.000000" />
    <limit effort="100" velocity="6" lower="-0.785398" upper="0.785398" />
  </joint>
  <joint name="right_hip_Z" type="revolute">
    <parent link="middle_pelvis" />
    <child link="right_upperleg_virtual" />
    <origin xyz="0.025202 -0.090799 0.088284" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 1.000000" />
    <limit effort="185" velocity="12" lower="-1.04719667" upper="3.14159" />
  </joint>
  <joint name="right_hip_X" type="revolute">
    <parent link="right_upperleg_virtual" />
    <child link="right_upperleg_virtual_2" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="-1.000000 0.000000 0.000000" />
    <limit effort="120" velocity="6" lower="-1.04719667" upper="1.570795" />
  </joint>
  <joint name="right_hip_Y" type="revolute">
    <parent link="right_upperleg_virtual_2" />
    <child link="right_upperleg" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 1.000000 0.000000" />
    <limit effort="60" velocity="6" lower="-1.570795" upper="1.04719667" />
  </joint>
  <joint name="right_knee_Z" type="revolute">
    <parent link="right_upperleg" />
    <child link="right_lowerleg" />
    <origin xyz="0.000000 -0.391877 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 -1.000000" />
    <limit effort="130" velocity="18.6" lower="0" upper="3.14159" />
  </joint>
  <joint name="right_ankle_Z" type="revolute">
    <parent link="right_lowerleg" />
    <child link="right_foot_virtual" />
    <origin xyz="0.000000 -0.422321 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="0.000000 0.000000 1.000000" />
    <limit effort="126" velocity="12.7" lower="-1.570795" upper="0.7853975" />
  </joint>
  <joint name="right_ankle_X" type="revolute">
    <parent link="right_foot_virtual" />
    <child link="right_foot" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <axis xyz="1.000000 0.000000 0.000000" />
    <limit effort="20" velocity="6" lower="-0.523598333" upper="0.785398" />
  </joint>
  <link name="Nose">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_Nose" type="fixed">
    <parent link="middle_head" />
    <child link="Nose" />
    <origin xyz="0.127843 0.167673 -0.044920" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="Head">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_Head" type="fixed">
    <parent link="middle_head" />
    <child link="Head" />
    <origin xyz="-0.046599 0.273714 -0.015816" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="REar">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_REar" type="fixed">
    <parent link="middle_head" />
    <child link="REar" />
    <origin xyz="-0.011248 0.152764 0.062201" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LEar">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LEar" type="fixed">
    <parent link="middle_head" />
    <child link="LEar" />
    <origin xyz="-0.015656 0.150988 -0.094927" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="REye">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_REye" type="fixed">
    <parent link="middle_head" />
    <child link="REye" />
    <origin xyz="0.080470 0.198005 -0.002001" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LEye">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LEye" type="fixed">
    <parent link="middle_head" />
    <child link="LEye" />
    <origin xyz="0.076198 0.195533 -0.069980" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RPSI">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RPSI" type="fixed">
    <parent link="middle_pelvis" />
    <child link="RPSI" />
    <origin xyz="-0.100829 -0.002592 0.058275" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LPSI">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LPSI" type="fixed">
    <parent link="middle_pelvis" />
    <child link="LPSI" />
    <origin xyz="-0.095666 -0.002203 -0.061033" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RASI">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RASI" type="fixed">
    <parent link="middle_pelvis" />
    <child link="RASI" />
    <origin xyz="0.087809 -0.002553 0.119786" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LASI">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LASI" type="fixed">
    <parent link="middle_pelvis" />
    <child link="LASI" />
    <origin xyz="0.110483 -0.000420 -0.124143" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="T11">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_T11" type="fixed">
    <parent link="middle_abdomen" />
    <child link="T11" />
    <origin xyz="-0.134230 0.226914 -0.005502" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RSHO">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RSHO" type="fixed">
    <parent link="right_clavicle" />
    <child link="RSHO" />
    <origin xyz="-0.028144 -0.001419 0.165794" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LSHO">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LSHO" type="fixed">
    <parent link="left_clavicle" />
    <child link="LSHO" />
    <origin xyz="-0.022357 0.008630 -0.171084" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="C7">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_C7" type="fixed">
    <parent link="middle_thorax" />
    <child link="C7" />
    <origin xyz="-0.091198 0.361775 -0.002790" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="T6">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_T6" type="fixed">
    <parent link="middle_thorax" />
    <child link="T6" />
    <origin xyz="-0.135257 0.214055 0.000164" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RMELB">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RMELB" type="fixed">
    <parent link="right_upperarm" />
    <child link="RMELB" />
    <origin xyz="-0.018450 -0.290948 -0.050178" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RELB">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RELB" type="fixed">
    <parent link="right_upperarm" />
    <child link="RELB" />
    <origin xyz="0.022612 -0.272736 0.020869" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RMWRI">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RMWRI" type="fixed">
    <parent link="right_lowerarm" />
    <child link="RMWRI" />
    <origin xyz="-0.007465 -0.267498 -0.018388" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RWRI">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RWRI" type="fixed">
    <parent link="right_lowerarm" />
    <child link="RWRI" />
    <origin xyz="-0.007080 -0.265750 0.017250" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RTHU">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RTHU" type="fixed">
    <parent link="right_hand" />
    <child link="RTHU" />
    <origin xyz="0.006741 -0.114231 0.039600" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RMID">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RMID" type="fixed">
    <parent link="right_hand" />
    <child link="RMID" />
    <origin xyz="0.000230 -0.137826 0.000073" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RPIN">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RPIN" type="fixed">
    <parent link="right_hand" />
    <child link="RPIN" />
    <origin xyz="0.007230 -0.142650 -0.037649" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LMELB">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LMELB" type="fixed">
    <parent link="left_upperarm" />
    <child link="LMELB" />
    <origin xyz="-0.021115 -0.293933 0.050511" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LELB">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LELB" type="fixed">
    <parent link="left_upperarm" />
    <child link="LELB" />
    <origin xyz="0.023642 -0.276717 -0.025527" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LMWRI">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LMWRI" type="fixed">
    <parent link="left_lowerarm" />
    <child link="LMWRI" />
    <origin xyz="-0.007059 -0.261266 0.020606" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LWRI">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LWRI" type="fixed">
    <parent link="left_lowerarm" />
    <child link="LWRI" />
    <origin xyz="-0.006815 -0.257132 -0.020921" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LTHU">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LTHU" type="fixed">
    <parent link="left_hand" />
    <child link="LTHU" />
    <origin xyz="0.002713 -0.112238 -0.045777" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LMID">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LMID" type="fixed">
    <parent link="left_hand" />
    <child link="LMID" />
    <origin xyz="0.000057 -0.124926 -0.000088" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LPIN">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LPIN" type="fixed">
    <parent link="left_hand" />
    <child link="LPIN" />
    <origin xyz="0.009680 -0.131675 0.041498" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RKNE">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RKNE" type="fixed">
    <parent link="right_upperleg" />
    <child link="RKNE" />
    <origin xyz="0.012975 -0.394391 0.059017" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RMKNE">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RMKNE" type="fixed">
    <parent link="right_upperleg" />
    <child link="RMKNE" />
    <origin xyz="-0.012901 -0.394067 -0.053650" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RMANK">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RMANK" type="fixed">
    <parent link="right_lowerleg" />
    <child link="RMANK" />
    <origin xyz="0.007200 -0.425070 -0.036153" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RANK">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RANK" type="fixed">
    <parent link="right_lowerleg" />
    <child link="RANK" />
    <origin xyz="-0.007756 -0.424210 0.031188" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RTOE">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RTOE" type="fixed">
    <parent link="right_foot" />
    <child link="RTOE" />
    <origin xyz="0.214550 -0.035325 -0.038104" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="R5MHD">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_R5MHD" type="fixed">
    <parent link="right_foot" />
    <child link="R5MHD" />
    <origin xyz="0.141600 -0.053325 0.038101" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="RHEE">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_RHEE" type="fixed">
    <parent link="right_foot" />
    <child link="RHEE" />
    <origin xyz="-0.059928 -0.046133 -0.009843" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LKNE">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LKNE" type="fixed">
    <parent link="left_upperleg" />
    <child link="LKNE" />
    <origin xyz="0.016755 -0.390184 -0.051785" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LMKNE">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LMKNE" type="fixed">
    <parent link="left_upperleg" />
    <child link="LMKNE" />
    <origin xyz="-0.016435 -0.388077 0.058989" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LMANK">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LMANK" type="fixed">
    <parent link="left_lowerleg" />
    <child link="LMANK" />
    <origin xyz="0.004620 -0.418749 0.034283" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LANK">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LANK" type="fixed">
    <parent link="left_lowerleg" />
    <child link="LANK" />
    <origin xyz="-0.004681 -0.418416 -0.032406" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LTOE">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LTOE" type="fixed">
    <parent link="left_foot" />
    <child link="LTOE" />
    <origin xyz="0.191646 -0.035637 0.023752" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="L5MHD">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_L5MHD" type="fixed">
    <parent link="left_foot" />
    <child link="L5MHD" />
    <origin xyz="0.153851 -0.039208 -0.037582" rpy="0.000000 -0.000000 0.000000" />
  </joint>
  <link name="LHEE">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01" />
      </geometry>
      <material name="marker_color" />
    </visual>
  </link>
  <joint name="joint_LHEE" type="fixed">
    <parent link="left_foot" />
    <child link="LHEE" />
    <origin xyz="-0.060434 -0.037705 0.006636" rpy="0.000000 -0.000000 0.000000" />
  </joint>
</robot>